trip /index.ejs
<div class="outline">
  <ul>
    <% trips.forEach((trip) => { %>
      <li class="none">
        <h3><%= trip.title %></h3>


        <div class="outline">
          title: <%= trip.title %><br>
          images: <%= trip.images %></br>
          when: <%= trip.when %></br>
          where: <%= trip.where %></br>
          Who: <%= trip.who %></br>
          Adults: <%= trip.who.adults %></br>
          Children: <%= trip.who.children %></br>
          how: <%= trip.how %></br>
          for: <%= trip.for %> days</br>
          <p>
            <%= trip.words %>
          </p>
        </div>


        <a href="/trip/<%= trip.id %>/edit"><button>Edit</button></a>
      </li>
    <% }); %>
  </ul>
</div>
