<div class="hero">
  <img class="userImageHero" src="<%= locals.user.imageHero %>">
  <div class="profile">
    <img class="userImageProfile" src="<%= user.imageProfile %>">
  </div>
</div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 userEdit">

        <div class="outline">
          <h1>Edit</h1>

          <div>

            <form method="POST" action="/users/<%= user.id %>/edit" id="edit">
              <input type="hidden" name="_method" value="PUT">
              <div>
                <label for="username">username</label>
                <input type="text" name="username" id="username" value="<%= user.username %>">
              </div>
              <div>
                <label for="bio">Bio</label>
                <%# Don't change the spacing on the line below! between textarea and itself %>
                <textarea rows="4" cols="50" form="edit" name="bio" placeholder="Write a little about yourself..."></textarea>
              </div>
              <div>
                <label for="nearestAirport">nearest airport</label>
                <input type="text" name="nearestAirport" id="nearestAirport" value="<%= user.nearestAirport %>">
              </div>


              <button>Update</button>
            </form>
          </div>


          <div class="outline">
            <h3>update pictures</h3>
            <form method="POST" action="/upload/profile" enctype="multipart/form-data">
              <div>
                <label for="image">Profile Image</label>
                <input type="file" name="image" id="image"><button>Upload</button>
              </div>

            </form>


            <form method="POST" action="/upload/hero" enctype="multipart/form-data">
              <div>
                <label for="image">Profile background Image</label>
                <input type="file" name="image" id="image"><button>Upload</button>
              </div>

            </form>
          </div>

          <div style="text-align:center;">
            <form action="/users/<%= user.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <p>
                <button>delete your account</button>
              </p>
            </form>
          </div>

        </div>




      </div>
    <div class="col-md-1"></div>
  </div>
</div>
