users/:id

<p>
  user: <%= locals.user %><br>
</p>
username: <%= locals.user.username %><br>
email: <%= locals.user.email %><br>
password: <%= locals.user.password %><br>
profile image: <%= locals.user.imageProfile %><br>
hero image: <%= locals.user.imageHero %><br>
nearestAirport: <%= locals.user.nearestAirport %><br>
favourites: <%= locals.user.favourites %><br>
bio: <%= locals.user.bio %>

<hr>
<div class="outline">
  <img src="<%= locals.user.imageProfile %>">
  <img src="<%= locals.user.imageHero %>">
  <p>
    <p>
      username:<br>
    <%= user.username %>
    </p>
    bio:<br>
    <%= user.bio %>
  </p>

  <hr>



</div>

<hr>

<%= locals.user.id %>
<a href="/users/<%= locals.user.id %>/edit"><button>Edit your profile</button></a>

<a href="/trips/new"><button>Add a trip report</button></a>
