users/:id

<p>
  user: <%= locals.thisUser %><br>
</p>
username: <%= locals.user.username %><br>
email: <%= locals.user.email %><br>
password: <%= locals.user.password %><br>
profile image: <%= locals.user.imageProfile %><br>
hero image: <%= locals.user.imageHero %><br>
nearestAirport: <%= locals.user.nearestAirport %><br>
favourites: <%= locals.user.favourites %><br>
bio: <%= locals.user.bio %>

<hr>
<div class="outline">
  <img src="<%= locals.user.imageProfile %>">
  <img src="<%= locals.user.imageHero %>">
  <p>
    <p>
      username:<br>
    <%= user.username %>
    </p>
    bio:<br>
    <%= user.bio %>
  </p>

  <hr>

  <div class="outline">
    my trips:
    <ul>
      <% trips.forEach((trip) => { %>
        <li class="none">
          <div class="outline">
            title: <%= trip.title %><br>
            <a href="/trips/<%= trip.id %>">details</a>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>

</div>

<hr>

<%= locals.user.id %>
<a href="/users/<%= locals.user.id %>/edit"><button>Edit your profile</button></a>

<a href="/trips/new"><button>Add a trip report</button></a>
