users/:id

<p>
  user: <%= locals.user %><br>
</p>
username: <%= locals.user.username %><br>
email: <%= locals.user.email %><br>
password: <%= locals.user.password %><br>
profile image: <%= locals.user.imageProfile %><br>
hero image: <%= locals.user.imageHero %><br>
nearestAirport: <%= locals.user.nearestAirport %><br>
favourites: <%= locals.user.favourites %><br>
bio: <%= locals.user.bio %>

<hr>
<div class="outline">
  <img src="<%= locals.user.imageProfile %>">
  <img src="<%= locals.user.imageHero %>">
</div>
<hr>


<div class="outline">
  <h1>Edit</h1>

  <div class="outline">
    <h3>Update strings</h3>

    <form method="POST" action="/users/<%= user.id %>">
      <input type="hidden" name="_method" value="PUT">
      <div>
        <label for="username">username</label>
        <input type="text" name="username" id="username" value="<%= user.username %>">
      </div>
      <div>
        <label for="bio">Bio</label>
        <input type="text" name="bio" id="bio" value="<%= user.bio %>">
      </div>
      <div>
        <label for="nearestAirport">nearest airport</label>
        <input type="text" name="nearestAirport" id="nearestAirport" value="<%= user.nearestAirport %>">
      </div>


      <button>Update</button>
    </form>
  </div>


  <div class="outline">
    <h3>update pictures</h3>
    <form method="POST" action="/upload/profile" enctype="multipart/form-data">
      <div>
        <label for="image">Profile Image</label>
        <input type="file" name="image" id="image">
      </div>
      <button>Upload</button>
    </form>


    <form method="POST" action="/upload/hero" enctype="multipart/form-data">
      <div>
        <label for="image">Profile background Image</label>
        <input type="file" name="image" id="image">
      </div>
      <button>Upload</button>
    </form>
  </div>

</div>

<a href="#"><button>Add a trip report</button></a>
