trips / show


<p>
  trip: <%= trip %>
</p>

<div class="outline">
  <img src="<%= locals.trip.imageHero %>">
  <p>
    <%= locals.trip.title %>
  </p>
  images: <%= locals.trip.images %></br>
  when: <%= locals.trip.when %></br>
  where: <%= locals.trip.where %></br>
  Who: <%= locals.trip.who %></br>
  Adults: <%= locals.trip.who["adults"] %></br>
  Children: <%= locals.trip.who.children %></br>
  how: <%= locals.trip.how %></br>
  for: <%= locals.trip.for %> days</br>
  Description: <%- locals.trip.words %> </br>
  lat: <%= locals.trip.lat %> </br>
  long: <%= locals.trip.long %> </br>
  long: <%= locals.trip.long %> </br>

  <ul>
    <% locals.trip.imageGallery.forEach((trip) => { %>
      <li class="none">
        <div class="outline">
          <img src="<%= trip %>">
        </div>
      </li>
    <% }); %>
  </ul>

  <p>
    written by: <%= trip.createdBy['username'] %> <br>
    who looks like <img src="<%= trip.createdBy['imageProfile'] %>"><br>
    <a href="/users/<%= trip.createdBy['_id'] %>">Look at their profile</a>
  </p>

  <% if(locals.isAuthenticated && (user.id == trip.createdBy['_id'])) { %>
  <p>
    <a href="/trips/<%= trip.id %>/edit"><button>Edit this trip</button></a>
  </p>
  <p>
    <form method="POST" action="/trips/<%= trip.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete this trip</button>
    </form>
  </p>
  <% } %>
</div>
