
<div class="container-fluid tripShow">
  <div class="row">
    <div class="col-12 clearHeader"></div>
  </div>

  <div class="row">
    <div class="col-12 banner"></div>
  </div>


    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <div class="outline">
          <img class="tripHeroImage" src="<%= locals.trip.imageHero %>">

          <p>
            <h3><%= locals.trip.title %></h3>
          </p>

          <div class="tripDetails">
            <p>
              This is a record of:
            </p>
            When: <%= locals.trip.when %><br>
            How: <%= locals.trip.how %><br>
            in: <%= locals.trip.where %>.
            </P>
            <p>
              For: <%= locals.trip.for %> days
              with: <%= locals.trip.who['adults'] %> adults and <%= locals.trip.who['children']| '0' %> children.
            </p>
            <p>
              Position:
              <span>lat: <%= locals.trip.lat %>
              <span>long: <%= locals.trip.long %>
            </p>
          </div>

          <div class="blog">
            Description:
            <p>
              <%- locals.trip.words %>
            </p>
          </div>

          <div class="outline">
            <h4>Gallery</h4>
              <% locals.trip.imageGallery.forEach((trip) => { %>
                <img class="galleryImage" src="<%= trip %>">
              <% }); %>
          </div>

          <div class="tripOutline">
            <img class="tripIndexPicture" src="<%= trip.createdBy['imageProfile'] %>">
              <span class="tripTitle">Written by: <%= trip.createdBy['username'] %></span>
            <a class="right" href="/users/<%= trip.createdBy['_id'] %>">View Profile</a>
          </div>

          <% if(locals.isAuthenticated && (user.id == trip.createdBy['_id'])) { %>
          <p>
            <a href="/trips/<%= trip.id %>/edit"><button>Edit this trip</button></a>

            <form method="POST" action="/trips/<%= trip.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button>Delete this trip</button>
            </form>
          </p>
          <% } %>



        </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
