trips / show





<p>
  trip: <%= trip %>
</p>

<div class="outline">
  <p>
    <%= locals.trip.title %>
  </p>
  images: <%= locals.trip.images %></br>
  when: <%= locals.trip.when %></br>
  where: <%= locals.trip.where %></br>
  Who: <%= locals.trip.who %></br>
  Adults: <%= locals.trip.who["adults"] %></br>
  Children: <%= locals.trip.who.children %></br>
  how: <%= locals.trip.how %></br>
  for: <%= locals.trip.for %> days</br>
  for: <%= locals.trip.words %> days</br>

  <p>
    written by: <%= trip.createdBy['username'] %> <br>
    who looks like <img src="<%= trip.createdBy['imageProfile'] %>"><br>
    <a href="/users/<%= trip.createdBy['_id'] %>">Look at their profile</a>
  </p>

  authenticated:<%= locals.isAuthenticated %><br>
  userID:<%= user.id %><br>
  CREATED BY:<%= trip.createdBy['_id'] %><br>

  <% if(locals.isAuthenticated && (user.id == trip.createdBy['_id'])) { %>
  <p>
    <a href="/trips/<%= trip.id %>/edit"><button>Edit</button></a>
  </p>
  <p>
    <form method="POST" action="/trips/<%= trip.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  </p>
  <% } %>
</div>
